extends ../shared/template/layout/_default

block vars
  -
    var title = 'Parallax'

block main
  .test
    .js-test-panele.test-panele.test-panele-1(data-speed='0.07')
    .js-test-panele.test-panele.test-panele-2(data-speed='-0.07')
    .js-test-panele.test-panele.test-panele-3(data-speed='-0.07')
    #js-test-heading-wrap.test-heading-wrap
      #js-test-heading.test-image-heading(data-speed='0.8', style='background-image: url(./image/lady.jpg)')
    .test-bg-wrap
      .test-bg-inner
        img.js-test-bg.test-bg(src='./image/mount.jpg', alt='')
